<div class="Services">
		<div class="container">
			<div class="row Services-row">
				<div class="col-md-4 Services-row-column">
					<h2>Deal category</h2>
					<span class="line1"></span>
				</div>
				<div class="col-md-8 Services-row-column1">
					<div class="service-grid" ng-repeat="cat in category">
					<a href="#!deals?id={{cat.cat_id}}">
						<div class="service-griddy">
							<div class="service-gridy">
								<img ng-src="{{cat.cat_image}}" class="img-thumbnail" style="width:50px;height:50px;">
								<h3>{{cat.cat_name}}</h3>
							</div>
						</div>
					</a>	
					</div>
					
				</div>
				<div class="clearfix"></div>
			</div>
		</div>
	</div>