
	<div class="login-page">
		<div class="container"> 
			<h3 class="w3ls-title w3ls-title1">Create your account</h3>  
			<div class="login-body">
				<form>
					<input type="text" ng-model="user.user_name"   placeholder="Enter your Name" required="">
					<input type="text" ng-model="user.user_email"  placeholder="Enter your email" required="">
					<input type="password" ng-model="user.user_password" placeholder="Password" required="">
					<input type="text" ng-model="user.user_phone" placeholder="Phone" required="">
					
					<input type="submit" value="Sign Up" ng-click="signup()">
					
				</form>
			</div>  
		</div>
	</div>

